.cardContainer {
  /* border: 2px solid black; */
  /* margin: 20px 15px; */
  margin-bottom: 20px;
  border-radius: 5px;
}

.allCardsContainer {
  border: 2px solid red;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 400px; */
  /* margin-top: 20px; */
}

/* Active Card Styling*/
.cardActive,
.newCard {
  margin: 50px;
  border: 2px solid rgb(241, 8, 8);
  border-radius: 5px;
  height: 175px;
  width: 300px;
  position: relative;
  cursor: pointer;
}
.cardActive {
  background-color: bisque;
}

.newCard {
  background-color: rgb(221, 236, 223);
}

.theCard {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.theCard:hover {
  transform: rotateY(180deg);
}

.cardFront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.stripe {
  background-color: black;
  border: 5px solid black;
  height: 25px;
  margin-top: 10px;
}

.AddNewCardBtn {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
}

/* .buttonDiv {
  display: flex;
  justify-content: space-around;
  margin: 0 50px;
} */

/* .button {
  border-radius: 5px;
  padding: 5px; 
  margin-bottom: 20px;  
  flex-grow: 3;
  cursor: pointer;
} */
