.allCardsContainer {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 30px;
}

.activeCardContainer {
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: -1px -1px 13px 6px rgb(17, 11, 11);
}

.cardContainer {
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: -1px -1px 13px 6px rgb(189, 185, 185);
}

.cardActive,
.newCard {
  margin: 5px 10px;
  border-radius: 5px;
  height: 175px;
  width: 275px;
  position: relative;
  cursor: pointer;
}

.cardActive {
  margin: 10px;
}
.theCard {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.theCard:hover {
  transform: rotateY(180deg);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

.row p {
  margin: 0px;
  font-size: large;
}

.row h6 {
  margin: 0px;
  font-size: small;
}

.cardNumber {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 10px;
  font-size: large;
}

.chip {
  background-image: url(../images/chip.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  margin-left: 5px;
  margin-top: 5px;
}

.strip {
  background-color: black;
  border: 5px solid black;
  height: 25px;
  margin: 20px 0;
}

.patternImage {
  background-image: url(../images/pattern.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 30px;
  width: 100%;
  display: block;
}

.cvv {
  margin-top: 0;
  background-color: white;
  color: black;
  height: 20px;
}
