.App {
  text-align: center;
}

body {
  /* background-image: url(./images/background_2.jpg); */
  background-color: whitesmoke;
  /* background-size: cover;
  background-repeat: no-repeat; */
  /* height: 100vh; */
}

input {
  padding: 0.375rem 0.75rem;
  margin: 10px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s;
}

.details {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Card {
  border-radius: 25px;
  border: 2px solid black;
  margin: 50px;
  padding: 20px;
  background-color: lightcyan;
  height: 300px;
  width: 500px;
}

.firstNameContainer {
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin: 10px 5px 5px 5px;
  padding: 0.375rem 0.75rem;
  text-align: center;
  width: 200px;  
}

/* Card styling */
.visaCardFront,
.masterCardFront,
.amexCardFront {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  backface-visibility: hidden;
  overflow: hidden;
  z-index: 1;
}

.visaCardBack,
.masterCardBack,
.amexCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  backface-visibility: hidden;
  overflow: hidden;
  z-index: 1;
  transform: rotateY(180deg);
}

.visaCardFront,
.visaCardBack {
  background-image: linear-gradient(45deg, rgb(0, 55, 103), rgb(0, 111, 198));
  color: white;
}

.masterCardFront,
.masterCardBack {
  background-image: linear-gradient(45deg, rgb(123, 206, 18), rgb(44, 96, 15));
  color: white;
}

.amexCardFront,
.amexCardBack {
  background-image: linear-gradient(45deg, rgb(127, 127, 127), rgb(73, 75, 76));
  color: beige;
}

.visa, .masterCard, .amexCard {  
  background-size: cover;
  background-repeat: no-repeat;  
  margin-right: 5px;
  margin-top: 5px;
}

.visa {
  background-image: url(./images/visa.png);  
  height: 25px;
  width: 80px; 
}

.masterCard {
  background-image: url(./images/mastercard.png); 
  height: 50px;
  width: 80px; 
}

.amexCard {
  background-image: url(./images/AE.png);  
  height: 50px;
  width: 40px; 
}

.mapImg,
.masterCardImg,
.amexCardImg {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
}

.mapImg {
  background-image: url(./images/map.png);
  opacity: 0.9;
}

.masterCardImg {
  background-image: url(./images/tree.png);
}

.amexCardImg {
  background-image: url(./images/greyPattern.jpg);
}
 
  .Container_addCard{
    display: flex;
    flex-direction: row;
  }

  .InputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    background-color: goldenrod;
    padding: 30px;
    height: 400px;
    width: 630px; 
    margin: 10px;
    box-shadow: 0 8px 16px 0 slategray;
  }

  h6{
    margin: 5px;
  }

  .Card_addCard{
     margin:50px;
    border-radius: 5px; 
    height: 100%;
    width: 100%;
  }

  .CardFront-addCard{
   border-radius: 5px;
     background-image: url(./images/card_addCard.jpg);
     color: blanchedalmond;
     margin:10px;
     padding: 10px; 
     height:200px;
     width:300px;
     border: 2px solid black;
     border-radius: 5px;
  }

  .CardBack-addCard{
    background-image: url(./images/back-addCard.jfif);
    border-radius: 5px;
    border:2px solid black;
    margin:50px;
    background-color:lightcoral;
    height: 215px;
    width:315px;
    top: 0;
    left: 0;
  }

  .Chip-addCard{
    background-image: url(./images/chip.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    margin-left: 5px;
    margin-top: 5px;
  }

  .Row-addCard, .Card_addCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
  }

  .Row-addCard h6{
    margin: 0;
    padding-top: 30px;
    font-size: small;
  }

  .Row2-addCard p{
    margin: 0;
    font-size: large;
  }

  .Row2-addCard{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 20px;
    margin:  10px;
  }

  .CardNo-addCard{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 0;
    padding-top: 10px;
    font-size: large;
  }

  .Strip-addCard{
    border: 5px solid black;
    background-color: black;
    height: 25px;
    margin: 20px 0;
    
  }

  .Pattern-addCard{
    background-image: url(./images/pattern.png);
    height: 30px;
    border: 2px solid white;
    background-size: cover;
    width: 85%;
    display: block;
  }

  #month, #year, #dropdown{
    padding: 10px;
    border-radius: 0.25rem;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    transition: border-color 0.15s;
  }

  #month {
    width: 150px;
  }

  #dropdown{
    width: 220px;
  }

  button{

    height: 20px;
  }

  /* .firstNameContainer{
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    height: 18px;
    width: 12%;
    margin: 10px 5px 5px 5px;
    padding: 20px;
    text-align: center;
  } */

  .firstNameContainer p{
    margin: 0;
  }

  /* Header styling */
.strong {
  color: darkblue;
  font-weight: bolder;
  font-size: larger;
  font-style: italic;
} 

  .headerContainer {
    margin: 10px;  
    border: 2px solid black;
    border-radius: 5px;   
    /* background-image: radial-gradient(rgb(180, 182, 223), rgb(48, 47, 45)); */
    height: 90px;
    opacity: 0.6;
    /* color: white; */
  }
 
  .header{
    margin: 10px 0;
  }

  .headerTag {   
    margin-top: 0px;
  }

  .Button-addCard{
    border-radius: 5px;
    padding: 10px 24px;
    font-size: 16px;
    height: auto;
    margin-bottom: 20px;
    box-shadow: 0 8px 16px 0;
    background-color: orange;
  }